<% layout('layout') -%>

<div style="height: 10vh;"></div>

<!-- /Why Section BOC -->
<section class="">
    <div class="container-fluid">
        <div class="row no-gutters">
            <div class="col-lg-6 col-md-6 col-xl-6" style="height: 50vh;">
                <div class="yit-flex-v-center align-items-center bg-fade-overlay pad-30-all" style="left:20vh;width:30vw;position:relative;background-image:url('/images/manthan-photo.jfif');">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xl-6 d-flex align-items-center light-medium-grey-color-bg">
                <div class="why-us-content pt-15 pr-30 pb-15 pl-30 xs-pad-small width-full">
                    <h4 class="font-weight-bold">Manthan Shah</h4>
                    <hr class="pink-color-bg yit-seprator-l">
                    <p class="yit-lead">Heyy, I’m Manthan, Student at Durham College, Oshawa, Ontario, Canada. Currently I’m working at Concentrix as a Member Advisor. Actively looking for new opportunities.</p>
                </div>
            </div>
        </div>
    </div>
</section>

