<% layout('layout') -%>
<div style="height: 10vh;"></div>

<!-- /Banner BOC -->
<div class="inner-banner-large bg-overlay yit-cover-bg" style="background-image:url('/images/webpanda-bg-28.jpg');" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="text-center white-color-text">
                    <div class="d-flex align-items-center height-xxsmall-screen justify-content-center">
                        <div class="inner-banner-content">
                            <h3>Contact Me</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Banner EOC -->

<!-- /Contact Form Section BOC -->
<section id="contact" class="pb-0">
    <div class="container">
        <div class="row">
            <!-- /Contact Form BOC -->
            <div class="col-lg-6 col-md-6 col-xl-6">
                <div class="yit-cotact-form common-form white-color-bg img-shadow input-style-6">

                    <form url="contact-us" method="post" class="pad-15-all mt-20 mb-20" id="contact-form">

                        <div class="form-group control-group">
                            <input type="text" name="name" class="form-control" placeholder="Enter Name" required/>
                            <i class="ti-user themify-icon input-icon"></i>
                        </div>

                        <div class="form-group control-group">
                            <input type="email" name="email" class="form-control" placeholder="Enter Email" required/>
                            <i class="ti-email themify-icon input-icon"></i>
                        </div>

                        <div class="form-group control-group">
                            <input type="tel" name="phone" class="form-control" placeholder="Enter Phone" required/>
                            <i class="ti-mobile themify-icon input-icon"></i>
                        </div>

                     

                        <div class="form-group">
                            <textarea type="text" name="message" class="form-control" placeholder="Enter Message" required></textarea>
                            <i class="ti-comment-alt themify-icon input-icon"></i>
                        </div>

                        <div class="form-group">
                            <button type="submit"  >
                                    <a title="Home" class="btn btn-block control-group" href="/">Submit</a>
                                </li>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /Contact Form EOC -->
            <!-- /Contat Img BOC -->
            <div class="col-xl-6 col-md-6 col-lg-6 d-flex justify-content-center">
                <div class="text-left xs-text-center yit-scroll-nav xs-mb-25">
                    <h5 class="mb-10">Connect with Me</h5>
                    <hr class="pink-color-bg yit-seprator-l">
                    <p><b>Location:</b> 72 Queen St, Oshawa, ON L1H 3Z3, Canada</p>
                    <p><b>CONTACT:</b> +1 (647) 890-1352</p>
                    <p><b>LINKEDIN:</b> <a href="https://www.linkedin.com/in/manthan-shah-1360411a1/" target="_blank">https://www.linkedin.com/in/manthan-shah-1360411a1/</a></p>
                </div>
            </div>
            <!-- /Contat Img EOC -->
        </div>
    </div>
</section>
<!-- /Contact Form Section EOC -->


