<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- =================== /TITLE BOC ==================== -->
<title><%= title %></title>
<!-- =================== /TITLE EOC ==================== -->

<!-- =================== /META BOC ==================== -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="msapplication-TileColor" content="#88bccd">
<meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
<meta name="theme-color" content="#ADD8E6">

<!-- =================== /META EOC ==================== -->
<link rel="stylesheet" href="/css/style.min.css"></link>
<link rel="stylesheet" href="/css/home.css"></link>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css" />


<script src="/js/scripts.min.js"></script>
<link rel="stylesheet" href="/css/home.css"></link>

<script src="https://kit.fontawesome.com/8228c03d13.js" crossorigin="anonymous"></script>

<!-- =================== /WEB CSS/JAVASCRIPT EOC ==================== -->

<!-- ================ /GOOGLE FONT BOC =================== -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<!-- ================ /GOOGLE FONT EOC =================== -->
