<!-- File name = Home.ejs -->
<!-- Student’s Name = Manthan Shah -->
<!-- StudentID = 100776892 -->
<!-- Date = 12/04/21 -->
<% layout('layout') -%>
<div style="height: 10vh;"></div>

<!-- /Banner BOC -->
<div class="yit-flexslider webpanda-default-banner yit-slider-style-1">
    <div class="flexslider flexslider-fade">
        <ul class="slides">
            <li>
                <div class="felx-slide-img slide-1 yit-cover-bg bg-fade-overlay" style="background-image:url('/images/landing-technology-domains-capabilities-hero.jpg');">
                    <div class="flex-slide-text text-center">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <div class="yit-display-table white-color-text text-center">
                                        <div class="yit-display-tb-cell">
                                            <h2 class="font-large font-weight-bold mt-15 mb-15 animate fade-left">I am Manthan Shah</h2>
                                            <h6 class="font-xxsmall text-uppercase animate fade-right">Welcome to My Portfolio Page, I'm Computer Programmer & Analysis Student at Durham College.
                                                <br/><br/>To know more about me...
                                                <br/><br/>
                                                    <button type="button" class="btn btn-primary">
                                                        <li class="nav-item <%= active == 'about-us' ? 'active' : '' %>">
                                                            <a title="About" class="nav-link" href="/about-me">Click Here</a>
                                                        </li>
                                                    </button>
                                                </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<!-- /About Section EOC -->

