<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs%>
</head>
<body class="webpanda-default">
    <div class="page-wrapper">
        <% include header.ejs%>

        <%- body %>

    </div>
</body>
</html>
