<!-- File name = Project.ejs -->
<!-- Student’s Name = Manthan Shah -->
<!-- StudentID = 100776892 -->
<!-- Date = 12/04/21 -->

<% layout('layout') -%>
<div style="height: 10vh;"></div>

<!-- /Service Section BOC -->
<section class="our-service">
    <div class="container">
        <div class="row">
            <div class="col"><h4 class="text-center text-uppercase"> <span class="pink-color-text">PROJECTS</span></h4></div>
        </div>

        <!-- /Feature Listing BOC -->
        <div class="yit-feature style-2 mt-40 text-center">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
                    <div class="yit-feature-item pink-color light-grey-color-bg bounceInUp">
                        <i class="icon-genius icon-circle pink-color-bg icon-small mb-20"></i>
                        <h6 class="mb-10 font-xxsmall text-uppercase"><a target="_blank" href="https://stackbyte.in/">StackByte</a></h6>
                        <hr class="width-20 height-3">
                        <p>India's Platform delivering guidance from professionals, leading industry experts as mentors and opportunities. Stack Byte bridges the daunting gap between academia and industry, and, brings you closer to your career goals. I worked as a Front-end Developer Intern to create Website.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
                    <div class="yit-feature-item pink-color light-extra-grey-color-bg bounceInUp">
                        <i class="icon-chat icon-circle pink-color-bg icon-small mb-20"></i>
                        <h6 class="mb-10 font-xxsmall text-uppercase"><a target="_blank" href="http://cargosailor.com/">Cargo Sailor</a></h6>
                        <hr class="width-20 height-3">
                        <p>Cargo Sailor is the most transparent and simple parcel Service Company in India. We will deliver the parcels to all over the world. I worked as a Sales Associate Intern to promote the product.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
                    <div class="yit-feature-item pink-color light-grey-color-bg bounceInUp">
                        <i class="icon-clipboard icon-circle pink-color-bg icon-small mb-20"></i>
                        <h6 class="mb-10 font-xxsmall text-uppercase"><a target="_blank" href="http://anyskool.com/">AnySkool</a></h6>
                        <hr class="width-20 height-3">
                        <p>AnySkool allows school administrators, teachers and parents to stay connected at all times via real time messaging. I worked as a Front-end Developer Intern to create Website.</div>
                </div>
            </div>
        </div>
    </div>
</section>
