<% layout('layout') -%>
<div style="height: 10vh;"></div>

<!-- /Service Section BOC -->
<section class="our-service">
    <div class="container">
        <div class="row">
            <div class="col"><h4 class="text-center text-uppercase"><span class="pink-color-text">Services</span></h4></div>
        </div>

        <!-- /Feature Listing BOC -->
        <div class="yit-feature style-2 mt-40 text-center">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
                    <div class="yit-feature-item pink-color light-extra-grey-color-bg bounceInUp">
                        <i class="icon-laptop icon-circle pink-color-bg icon-small mb-20"></i>
                        <h6 class="mb-10 font-xxsmall text-uppercase">Web Applications</h6>
                        <hr class="width-20 height-3">
                        <p class="alt-font">As technology advances, there are numerous industries in same sector giving each other eminent competition, striving to be the best. That is why it is vital to have an influential web application which can make your business more profitable. We can deliver you outstanding end-to-end web application development services which can elevate your business to reach highest level of favorable outcome.</p>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
                    <div class="yit-feature-item pink-color light-grey-color-bg bounceInUp">
                        <i class="icon-tablet icon-circle pink-color-bg icon-small mb-20"></i>
                        <h6 class="mb-10 font-xxsmall text-uppercase">Mobile Applications</h6>
                        <hr class="width-20 height-3">
                        <p>Most of the enterprises mobile applications fail. Companies don’t have highly skilled app developers and designers and they do not keep up with latest technology in mobile world. Whether you’re embarking on a new business solution, or trying to retrieve your falling enterprise mobility project- we can help. From backend as a service to secure cross platform development to testing and company process adoption, we can bring your mobile enterprise innovation to life.
                        </p>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-4 col-md-6 mb-20">
                    <div class="yit-feature-item pink-color light-extra-grey-color-bg bounceInUp">
                        <i class="icon-tools icon-circle pink-color-bg icon-small mb-20"></i>
                        <h6 class="mb-10 font-xxsmall text-uppercase">UI Design</h6>
                        <hr class="width-20 height-3">
                        <p>Enterprises thrive on creative arm specializing in web design and UI/UX strategies to deliver digital experiences that are integrated & comprehensive, delivering both content and conversion opportunities. We prepare designs and experiences for businesses to hook up their customers with right UX / digital environment in customer experience lifecycle.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Feature Listing EOC -->
    </div>
</section>
